@import "style.css";

.mainContainer{
	width: 100%;
	align-content: center;
	display: flex;
	justify-content: center;
}
.mainForm{
	width: 50%;
	box-shadow: 4px 8px 13px 3px  #888888;
	font-family: sans-serif;
	margin: 50px;
	padding: 60px;
	background-color: white;
}
.loginForm{
	width: 50%;
	box-shadow: 4px 8px 13px 3px  #888888;
	font-family: sans-serif;
	margin: 50px;
	padding: 60px;
	background-color: white;
}
.mainForm input{
	font-family: sans-serif;
	width: 250px;
	height: 30px;
	margin: 20px;
	border-style: none;
	border-bottom: 1px solid #AAA;;
}
select{
	font-family: sans-serif;
	width: 250px;
	height: 30px;
	margin: 20px;
	border-style: none;
	border-bottom: 1px solid #AAA;;
}
.mainForm [type="submit"]{
	background-color: whitesmoke ;
	border-radius: 8px;
	width: 150px;
	height: 30px;
}
.mainForm [type="submit"]:hover{
	background-color: ghostwhite ;
	border-radius: 8px;
}
.mainForm h1{
	text-align: center;
}
.loginForm input{
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: sans-serif;
	width: 250px;
	height: 30px;
	margin: 20px;
	border-style: none;
	border-bottom: 1px solid #AAA;
	
}
.mainCatContainer{
	width: 100%;
	align-content: center;
	display: flex;
	justify-content: center;
}
.mainCatForm{
	width: 50%;
	min-height: 400px;
	height: 100%;
	box-shadow: 4px 8px 13px 3px  #888888;
	font-family: sans-serif;
	text-align: center;
	margin: 50px 50px 40px 50px ;
	padding: 60px;
	background-color: white;
	border-radius: 6px;


}
.mainCatForm :before{
		filter: blur(1px);
}
.mainCatForm input{
	font-family: sans-serif;
	width: 250px;
	height: 30px;
	margin: 20px;
	border-style: none;
	border-bottom: 1px solid #AAA;;
}
.mainCatForm [type="submit"]{
	background-color: whitesmoke ;
	border-radius: 8px;
	width: 150px;
	height: 30px;
}
.mainCatForm [type="submit"]:hover{
	background-color: ghostwhite ;
	border-radius: 8px;
}

textarea{
	width: 400px;
	height: 100px;
	margin: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table, th, td {
  border: 1px solid;
  width: 70px;
}
th, td {
	border: 1px solid;
	width: 70px;
}

 .cart-num::-webkit-inner-spin-button, .cart-num::-webkit-outer-spin-button{
   opacity: 1;

}
.cart-num{
	width: 50px;
}
.cart-order{
	margin: 20px;
	border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.cart-subtotal{
	font-size: 30px;
	margin: 20px;
}